form.signup,
form.login {
  margin-top: 50px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} 
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite; 
} 

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
h1 {
	margin: 30px 0px;
	color: #313131;
	font-size: 42px;
	font-weight: 700;
	text-align: left;
}

h1 span {
	font-weight: 300;
} 


h1{
  text-align: center;
  font-family: 'Lobster', cursive;
  font-weight: bolder;

}

  .container{
      padding: 100px;
      background-color: white;
      border-radius: 25px;
      width: 700px;
      height: 650px;
  }

  .first-box {
    width: 250px; 
    float:left; 
    height:300px; 
    margin:10px;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
  }
  
  
  .second-box {
    width: 250px; 
    float:left; 
    height:300px; 
     margin:10px
     font-family: 'Do Hyeon', sans-serif;
  }
    
  
    footer {
    width:900px; 
    float:left; 
    height: 50px;
  }
  
  footer div {
    padding: 15px;
  } 

  #clientName{
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    font-size: 20px;
    }
  #finacialImpact{
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    font-size: 20px;
    }

  #issueDescription{
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    font-size: 20px;
  }
  #dropDown{
    padding: 20px;
    font-family: 'Lobster', cursive;
    font-weight: bolder;
    font-size: 20px;
  }
.display-4{
  padding: 20px;
  font-family: 'Lobster', cursive;
  font-weight: bolder;

}